.home-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.home-message-list {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1%;
  gap: 2%;
}

.home-message-list-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  background-color: #e3adf9;
  padding: 2%;
  border-radius: 10px;
}

.home-message-body {
  background-color: turquoise;
  width: 80%;
  height: 100vh;
}

.search-bar {
  width: 100%;
  border-style: hidden;
  background-color: transparent;
}

.scroll-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: scroll;
  height: 100%;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.message-card {
  display: flex;
  flex-direction: row;
  padding: 2%;
  gap: 2%;
  cursor: pointer;
}

.message-card-1 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.message-card-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.message-card-lbl {
  background-color: purple;
  color: white;
  border-radius: 50%;
  padding: 5px;
  width: 5px;
  height: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.c {
  color: #e3adf9;
}
